<div class="my-3">
  <div class="border-2 border-gray-200 rounded">
      <!-- card header -->
      <div class="px-6 py-4 bg-white border-b border-gray-200 font-bold uppercase">
        <h4 class="block text-lg"><%= tweet.user.name %></h4>
        <%= link_to "@#{tweet.user.username}", "https://twitter.com/#{tweet.user.username}", class: 'text-xs text-lightblue text-gray', target: "_blank" %>
      </div>

      <!-- card body -->
      <div class="p-6 text-gray-600 break-words">
        <%= tweet.body %>
      </div>

      <!-- card footer -->
      <div class="p-6 bg-white border-gray-200 text-right">
        <% if tweet.published? %>
          <% tweet.exists %>
         <div class="flex justify-between items-center">
            <span class="inline-block items-center rounded-full text-green-600 bg-green-100 px-4 py-1 text-sm font-bold">
             Sent
           </span>
           <%= link_to "View Tweet", "https://twitter.com/#{tweet.user.username}/status/#{tweet.tweet_id}", class: 'mx-1 bg-blue-200 text-blue-600 py-2 px-6 rounded-lg cursor-pointer', target: "_blank" %>
         </div>
        <% else %>
         <div class="flex justify-between">
           <span class="inline-block rounded-full text-gray-600 bg-gray-100 px-2 py-1 text-sm font-bold mr-3">
             Scheduled for <%= localize tweet.publish_at, format: :short %>
           </span>
           <div class="buttons">
             <%= link_to "Edit", edit_tweet_path(tweet), class: 'mx-1 bg-yellow-200 text-yellow-600 py-2 px-6 rounded-lg cursor-pointer' %>
             <%= link_to "Delete", tweet_path(:id => tweet.id), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'mx-1 bg-gray-200 text-gray-600 py-2 px-4 rounded-lg cursor-pointer' %>
           </div>
         </div>
        <% end %>
      </div>
  </div>
</div>