<div class="mb-3">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <%= tweet.user.name %>
      <%= link_to "@#{tweet.user.username}", "https://twitter.com/#{tweet.user.username}", target: "_blank" %>
    </div>

    <div class="card-body">
      <div class="card-text">
        <%= tweet.body %>
      </div>
    </div>

    <div class="card-footer d-flex justify-content-between">
      <% if tweet.published? %>
        <% tweet.exists %>
        <%= link_to "View Tweet", "https://twitter.com/#{tweet.user.username}/status/#{tweet.tweet_id}", target: "_blank" %>
      <% else %>
        Scheduled for <%= localize tweet.publish_at, format: :short %>
        <%= link_to "Edit", edit_tweet_path(tweet) %>
        <%= link_to "Delete", tweet_path(:id => tweet.id), :data => {:confirm => 'Are you sure?'}, :method => :delete %>
      <% end %>
    </div>
  </div>
</div>
