<div class="container text-center mx-auto font-primary antialiased">
  <nav class="flex items-center justify-between flex-wrap p-6">
    <a href="/" class="flex items-center flex-shrink-0 mr-6">
      <svg xmlns="http://www.w3.org/2000/svg" width="107" height="25" fill="none"><path d="M8.767 24.384c-1.493 0-2.826-.363-4-1.088-1.173-.725-2.101-1.717-2.784-2.976C1.301 19.061.96 17.632.96 16.032s.342-3.019 1.024-4.256c.683-1.259 1.61-2.24 2.784-2.944 1.174-.725 2.507-1.088 4-1.088 1.195 0 2.24.224 3.136.672a5.653 5.653 0 0 1 2.176 1.888V.96h4.096V24h-3.648l-.448-2.272c-.512.704-1.195 1.323-2.048 1.856-.832.533-1.92.8-3.264.8Zm.864-3.584c1.323 0 2.4-.437 3.232-1.312.854-.896 1.28-2.037 1.28-3.424s-.427-2.517-1.28-3.392c-.832-.896-1.91-1.344-3.232-1.344-1.301 0-2.378.437-3.232 1.312-.853.875-1.28 2.005-1.28 3.392s.427 2.528 1.28 3.424c.854.896 1.93 1.344 3.232 1.344ZM37.856 24l-4.64-15.872h4.064l2.752 11.424 3.2-11.424h4.544l3.2 11.424L53.76 8.128h4.064L53.152 24h-4.256l-3.392-11.872L42.112 24h-4.256Zm29.17.384c-1.6 0-3.018-.341-4.256-1.024a7.411 7.411 0 0 1-2.912-2.88c-.704-1.237-1.056-2.667-1.056-4.288 0-1.643.342-3.104 1.024-4.384.704-1.28 1.664-2.272 2.88-2.976 1.238-.725 2.688-1.088 4.352-1.088 1.558 0 2.934.341 4.128 1.024a7.21 7.21 0 0 1 2.784 2.816c.683 1.173 1.024 2.485 1.024 3.936 0 .235-.01.48-.032.736 0 .256-.01.523-.032.8H62.866c.086 1.237.512 2.208 1.28 2.912.79.704 1.739 1.056 2.848 1.056.832 0 1.526-.181 2.08-.544a3.54 3.54 0 0 0 1.28-1.472h4.16a7.575 7.575 0 0 1-1.504 2.752c-.682.81-1.536 1.45-2.56 1.92-1.002.47-2.144.704-3.424.704Zm.032-13.312c-1.002 0-1.888.288-2.656.864-.768.555-1.258 1.408-1.472 2.56h7.904c-.064-1.045-.448-1.877-1.152-2.496s-1.578-.928-2.624-.928ZM85.62 24.384c-1.6 0-3.019-.341-4.256-1.024a7.412 7.412 0 0 1-2.912-2.88c-.704-1.237-1.056-2.667-1.056-4.288 0-1.643.341-3.104 1.024-4.384.704-1.28 1.664-2.272 2.88-2.976 1.237-.725 2.688-1.088 4.352-1.088 1.557 0 2.933.341 4.128 1.024a7.209 7.209 0 0 1 2.784 2.816c.683 1.173 1.024 2.485 1.024 3.936 0 .235-.01.48-.032.736 0 .256-.01.523-.032.8H81.46c.085 1.237.512 2.208 1.28 2.912.79.704 1.739 1.056 2.848 1.056.832 0 1.525-.181 2.08-.544a3.54 3.54 0 0 0 1.28-1.472h4.16a7.575 7.575 0 0 1-1.504 2.752c-.683.81-1.536 1.45-2.56 1.92-1.003.47-2.144.704-3.424.704Zm.032-13.312c-1.003 0-1.888.288-2.656.864-.768.555-1.259 1.408-1.472 2.56h7.904c-.064-1.045-.448-1.877-1.152-2.496s-1.579-.928-2.624-.928ZM103.292 24c-1.664 0-2.997-.405-4-1.216-1.003-.81-1.504-2.25-1.504-4.32v-6.912h-2.72V8.128h2.72l.48-4.256h3.616v4.256h4.288v3.424h-4.288v6.944c0 .768.16 1.301.48 1.6.341.277.917.416 1.728.416h1.984V24h-2.784Z" fill="#19191B"/><path d="M28.887 24c-1.664 0-2.998-.405-4-1.216-1.003-.81-1.504-2.25-1.504-4.32v-6.912h-2.72V8.128h2.72l.48-4.256h3.616v4.256h4.288v3.424h-4.288v6.944c0 .768.16 1.301.48 1.6.341.277.917.416 1.728.416h1.984V24h-2.784Z" fill="#26AAE1"/></svg>
    </a>
    <div class="block lg:hidden">
      <button id="mobile-menu-button" class="flex items-center px-3 py-2 border rounded">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div id="menu" class="w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden">
      <div class="text-base lg:flex-grow">
        <%= link_to "Home", root_path, class: "block lg:inline-block py-3 px-8 hover:text-grey" %>
        <span class="block lg:inline-block py-3 px-8"><a href="/#features">Features</a></span>
        <%= link_to "Contact", "mailto:oguzhan824@gmail.com", class: "block lg:inline-block py-3 px-8 hover:text-grey" %>
        <% if user_signed_in? %>
          <%= link_to "My Tweets", tweets_path, class: "block lg:inline-block py-3 px-8 hover:text-grey" %>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <div class="flex items-center justify-between flex-wrap mt-8 lg:mt-0">
            <a href="https://twitter.com/<%= current_user.username %>" target="_blank" class="inline-block text-sm px-4 py-2 mt-4 lg:mt-0">
              @<%= current_user.username %>
            </a>
            <%= link_to "Logout", destroy_user_session_path, class: "bg-transparent text-red-400 py-2 px-4 border-2 border-red-400 rounded-lg cursor-pointer hover:bg-red-400 hover:text-white transition duration-150 ease-in-out transform hover:-translate hover:scale-105", method: :delete %>
          </div>
        <% else %>
          <li class="inline-block text-sm px-4 py-2 mt-4 lg:mt-0">
            <%= button_to "Connect Twitter Account", user_twitter_omniauth_authorize_path, method: :post, class: 'bg-transparent text-lightblue py-3 px-8 border-2 border-lightblue rounded-xl cursor-pointer hover:bg-lightblue hover:text-white transition duration-150 ease-in-out transform hover:-translate hover:scale-105' %>
          </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</div>

<script>
    const btn = document.getElementById("mobile-menu-button");
    const menu = document.getElementById("menu");

    btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
</script>